.DS_Store
.idea/
test_log/
backup/

polaris/log/*

angevil_test/
*.log

/vendor/

.vscode/

style_tool/
goimports-reviser

/examples/**/provider
/examples/**/consumer
!/examples/**/provider/
!/examples/**/consumer/
/examples/**/polaris

/examples/**/bin

/examples/**/provider/provider-a/
/examples/**/provider/provider-b/
